<odoo>
    <data>
        <!-- Menuitem for Verifica certificazioni -->
        <record id="menu_verifica_certificazioni" model="website.menu">
            <field name="name">Verifica certificazioni</field>
            <field name="url">/verifica-certificazioni</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">10</field>
        </record>
    </data>
</odoo>
